# SPDX-License-Identifier: MIT-0
# code: language=ansible
---
# tasks file for k3sup

- name: Run control plane tasks
  ansible.builtin.import_tasks: control-plane.yml
  tags:
    - k8s-control-plane
  when: inventory_hostname in groups['tp_cluster_controlplane']

- name: Run worker tasks
  ansible.builtin.import_tasks: worker.yml
  tags:
    - k8s-worker
  when: inventory_hostname in groups['tp_cluster_workers']

- name: Configure multipath
  ansible.builtin.copy:
    content: |
      defaults {
        user_friendly_names yes
        find_multipaths yes
      }

      # Blacklist Longhorn iSCSI devices to prevent multipath interference
      blacklist {
        # Exclude Longhorn iSCSI devices by vendor/product
        device {
          vendor "IET"
          product "VIRTUAL-DISK"
        }
      }
    dest: /etc/multipath.conf
    mode: "0644"
    owner: root
    group: root
  tags:
    - multipath
  notify:
    - Restart multipathd

- name: Enable multipath-tools
  ansible.builtin.systemd:
    name: multipathd
    state: started
    enabled: true
  tags:
    - multipath

- name: Enable iscsid
  ansible.builtin.systemd:
    name: open-iscsi
    state: started
    enabled: true
  tags:
    - iscsid

- name: Configure docker socket symlink via systemd-tmpfiles.d
  ansible.builtin.copy:
    src: docker-sock.conf
    dest: /etc/tmpfiles.d/docker-sock.conf
    mode: "0644"
    owner: root
    group: root
  tags:
    - docker-containerd

- name: Create docker socket symlink immediately
  ansible.builtin.command:
    cmd: systemd-tmpfiles --create /etc/tmpfiles.d/docker-sock.conf
  changed_when: true
  tags:
    - docker-containerd
