---
# code: language=ansible

- name: Get UUID of btrfs volume
  ansible.builtin.shell: |
    blkid -s UUID -o value {{ host_btrfs_root_volume }}
  register: btrfs_uuid
  changed_when: false

- name: Create btrfs subvolumes
  ansible.builtin.shell:
    cmd: |
      btrfs subvolume create -p /data/{{ item }} || true
  loop:
    - rancher
    - kubelet
    - longhorn
  changed_when: false

- name: Create mount point directories
  ansible.builtin.file:
    path: "{{ item }}"
    state: directory
    mode: "0755"
    owner: root
    group: root
  loop:
    - /var/lib/rancher
    - /var/lib/kubelet
    - /var/lib/longhorn

- name: Create systemd mount file
  ansible.builtin.template:
    src: systemd-mount-file.j2
    dest: /etc/systemd/system/{{ item.name }}.mount
    mode: "0644"
    owner: root
    group: root
  vars:
    uuid: "{{ btrfs_uuid.stdout }}"
    path: "{{ item.path }}"
    mount_name: "{{ item.name }}"
    btrfs_subvolume: "{{ item.btrfs_subvolume }}"
  notify: Reload systemd
  loop:
    - btrfs_subvolume: "{{ host_btrfs_subvolume_prefix }}/data/rancher"
      name: var-lib-rancher
      path: /var/lib/rancher
    - btrfs_subvolume: "{{ host_btrfs_subvolume_prefix }}/data/kubelet"
      name: var-lib-kubelet
      path: /var/lib/kubelet
    - btrfs_subvolume: "{{ host_btrfs_subvolume_prefix }}/data/longhorn"
      name: var-lib-longhorn
      path: /var/lib/longhorn

- name: Enable and start mount units
  ansible.builtin.systemd:
    name: "{{ item }}.mount"
    state: started
    enabled: true
    daemon_reload: true
  loop:
    - var-lib-rancher
    - var-lib-kubelet
    - var-lib-longhorn
