---
# code: language=ansible

# tasks file for k3sup
- name: Setup storage for k3s
  ansible.builtin.import_tasks: storage.yml
  tags:
    - k3s-storage

- name: Install required packages
  ansible.builtin.package:
    name: "{{ k3sup_packages }}"
    state: present
  tags:
    - open-iscsi

- name: Enable and start open-iscsi service
  ansible.builtin.systemd:
    name: iscsid
    state: started
    enabled: true
  tags:
    - open-iscsi
