[safe]
	directory = /tmp/windmill/wk-default-1-QhkdX/019afed4-1646-7302-46e4-0647749a1d3c/selfhosted-cluster
	directory = /tmp/windmill/wk-default-2-P157t/019afee1-852e-52a4-c306-dbe86dd3da60/selfhosted-cluster
