---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - https://raw.githubusercontent.com/mittwald/kubernetes-replicator/master/deploy/rbac.yaml
  - https://raw.githubusercontent.com/mittwald/kubernetes-replicator/master/deploy/deployment.yaml
