apiVersion: actions.summerwind.dev/v1alpha1
kind: RunnerDeployment
metadata:
  name: windmill-sync-runner
  namespace: actions-runner-system
spec:
  replicas: 1
  template:
    spec:
      repository: fzymgc-house/selfhosted-cluster
      labels:
        - windmill-sync
      dockerdWithinRunnerContainer: true
      env:
        - name: RUNNER_FEATURE_FLAG_EPHEMERAL
          value: "true"
      resources:
        limits:
          memory: "1Gi"
          cpu: "1000m"
        requests:
          memory: "512Mi"
          cpu: "500m"
