apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-prometheus
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "-1"
spec:
  project: observability
  sources:
    - chart: kube-prometheus-stack
      repoURL: https://prometheus-community.github.io/helm-charts
      targetRevision: 77.6.1
      helm:
        releaseName: kps
        valuesObject:
          crds:
            enabled: true
            upgradeJob:
              enabled: true
              forceConflicts: true
          defaultRules:
            create: false
          grafana:
            enabled: false
          alertmanager:
            enabled: false
          prometheus:
            podDisruptionBudget:
              enabled: true
              minAvailable: 1
            prometheusSpec:
              replicas: 2
              retention: 61d
              retentionSize: 240GB
              serviceMonitorSelectorNilUsesHelmValues: false
              podMonitorSelectorNilUsesHelmValues: false
              probeSelectorNilUsesHelmValues: false
              storageSpec:
                volumeClaimTemplate:
                  spec:
                    storageClassName: longhorn
                    accessModes: ["ReadWriteOnce"]
                    resources:
                      requests:
                        storage: 250Gi
              enableAdminAPI: true
              walCompression: true
              resources:
                requests:
                  cpu: 500m
                  memory: 2Gi
                limits:
                  cpu: 2
                  memory: 4Gi
          prometheus-node-exporter:
            extraArgs:
              - --collector.filesystem.mount-points-exclude=^/(dev|proc|sys|var/lib/docker/.+|var/lib/kubelet/.+|run/k3s/containerd/.+/shm)($|/)
              - --collector.filesystem.fs-types-exclude=^(autofs|binfmt_misc|bpf|cgroup2?|configfs|debugfs|devpts|devtmpfs|fusectl|hugetlbfs|iso9660|mqueue|nsfs|overlay|proc|procfs|pstore|rpc_pipefs|securityfs|selinuxfs|squashfs|sysfs|tracefs|erofs)$
              - --collector.systemd
              - --collector.processes
            extraHostVolumeMounts:
              - name: systemd-dbus
                mountPath: /var/run/dbus/system_bus_socket
                hostPath: /var/run/dbus/system_bus_socket
                readOnly: true
                mountPropagation: None
    - repoURL: https://github.com/fzymgc-house/selfhosted-cluster
      targetRevision: HEAD
      path: argocd/app-configs/monitoring-prometheus
  destination:
    server: https://kubernetes.default.svc
    namespace: prometheus
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - ServerSideApply=true
      - CreateNamespace=true
      - RespectIgnoreDifferences=true
