# HCP Terraform Operator Helm values
# See: https://github.com/hashicorp/hcp-terraform-operator

replicaCount: 1

resources:
  limits:
    cpu: 500m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi
