# SPDX-License-Identifier: MIT-0
---
galaxy_info:
  author: fzymgc-house
  description: Deploy Teleport SSH agent on nodes
  license: MIT
  min_ansible_version: "2.15"
  platforms:
    - name: Ubuntu
      versions:
        - jammy
        - noble
    - name: Debian
      versions:
        - bookworm

dependencies: []
