[Unit]
Description=Mount Kubelet data from btrfs subvolume
Before=local-fs.target
Requires=systemd-modules-load.service

[Mount]
What=UUID={{ uuid }}
Where=/var/lib/kubelet
Type=btrfs
Options=subvol=data/kubelet,defaults,noatime,compress=zstd

[Install]
WantedBy=multi-user.target
