[defaults]
nocows=True
fact_caching=jsonfile
fact_caching_connection=.ansible_facts_cache
collections_path=~/.ansible/collections
inventory=inventory
roles_path=~/.ansible/roles:/usr/share/ansible/roles:/etc/ansible/roles
transport=ssh
vault_password_file=.ansible_vault_password
interpreter_python=auto_silent

[connection]
pipelining=True

[sudo_become_plugin]
flags = -H -S -n

[privilege_escalation]
become_flags = -H -S -n
