127.0.0.1 localhost

# The following lines are desirable for IPv6 capable hosts
::1 ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
ff02::3 ip6-allhosts

{% if hosts_group is defined %}
{% for item in groups[hosts_group] %}
{{ hostvars[item]['host_address'] }} {{ item }}.fzymgc.house {{item}} {{ hostvars[item]['host_aliases'] | default([]) | join(' ') }}
{{ hostvars[item]['host_address_ipv6'] }} {{ item }}.fzymgc.house {{item}} {{ hostvars[item]['host_aliases'] | default([]) | join(' ') }}
{% endfor %}
{% endif %}
