---
machine:
  kubelet:
    extraArgs:
      rotate-server-certificates: true
    nodeIP:
      validSubnets:
        - 192.168.20.0/22
        - "!100.64.0.0/10"
  network:
    hostname: "{{ inventory_hostname }}"
    interfaces:
      - dhcp: true
        deviceSelector:
          busPath: "fe1c0000.ethernet"
    nameservers:
      - 192.168.20.1
    searchDomains:
      - fzymgc.house
    extraHostEntries:
      - ip: 192.168.20.141
        aliases:
          - tp-alpha-1.fzymgc.house
      - ip: 192.168.20.142
        aliases:
          - tp-alpha-2.fzymgc.house
      - ip: 192.168.20.143
        aliases:
          - tp-alpha-3.fzymgc.house
  features:
    stableHostname: true
  install:
    disk: /dev/mmcblk0
  time:
    servers:
      - 192.168.20.1
      - 0.us.pool.ntp.org
      - 1.us.pool.ntp.org
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  diskSelector:
    match: disk.transport == 'nvme' && !system_disk
  minSize: 100GB
  maxSize: 100GB
  grow: false
