# SPDX-License-Identifier: MIT-0
---
# vars file for k3sup

k3sup_packages:
  - jq
  - yq
  - open-iscsi
  - cryptsetup
  - cifs-utils
  - nfs-common
  - lsscsi
  - sg3-utils
  - multipath-tools
  - scsitools
  - nvme-cli
